.switch {
  display: flex;
  font-size: 1.9rem;
  user-select: none;
  border: 1px solid transparent;
  transition: opacity 0.2s;
  position: relative;

  label {
    padding: var(--size-spacing-1);
    color: transparent; // Transparent placeholder icon

    &::after {
      content: var(--theme-icon);
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  input {
    display: none;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--color-main-1);
    }
  }
}
