.switch {
  // background: transparent;
  border: none;
  font-size: 1.9rem;
  user-select: none;
  display: flex;
  border: 1px solid transparent;
  opacity: var(--theme-switcher-logo-opacity);
  transition: opacity 0.2s;

  label {
    padding: var(--size-spacing-1);
  }
  input {
    display: none;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--color-main-1);
    }
  }
}
