.switch {
  // background: transparent;
  border: none;
  font-size: 1.9rem;
  user-select: none;
  display: flex;
  border: 1px solid transparent;
  transition: opacity 0.2s;
  animation: appear 1s;

  label {
    padding: var(--size-spacing-1);
  }
  input {
    display: none;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--color-main-1);
    }
  }

  @keyframes appear {
    from {
      opacity: var(--theme-switcher-initial-opacity);
    }
    to {
      opacity: var(--theme-switcher-final-opacity);
    }
  }
}
