---
import '../styles/normalize.css'
import '../styles/reset.local.css'
import '../styles/var.scss'
import '../styles/classes.scss'

import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <script is:inline>
      // Inline: not bundled, so will execute the first
      // We need to load theme asap, so we are handling it in the layout.
      const STORAGE_THEME_KEY = 'theme'
      // console.log(title)
      const getLocalStorageTheme = localStorageKey => {
        if (localStorage && localStorage.getItem(localStorageKey))
          return localStorage.getItem(localStorageKey)
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) return 'dark'
        return 'light'
      }

      const theme = getLocalStorageTheme(STORAGE_THEME_KEY)
      const isDark = theme === 'dark'
      document.documentElement.classList.toggle('theme-dark', isDark)
    </script>
  </head>
  <body class='gloss'>
    <Navbar />
    <main class='content'>
      <slot />
    </main>
    <Footer />
    <style lang='scss'>
      html,
      body {
        min-height: 100%;
      }
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
          Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        display: flex;
        flex-direction: column;

        --scrollbar-border-radius: 1rem;
        &::-webkit-scrollbar {
          height: 0.9rem;
        }

        &::-webkit-scrollbar-track {
          border-radius: var(--scrollbar-border-radius);
          border: 1px solid lightgray;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: var(--scrollbar-border-radius);
          background-color: #d5d5d5;

          @media (hover: hover) {
            &:hover {
              background-color: #aaaaaa;
            }
          }
          &:active {
            background-color: #808080;
          }
        }
      }
      .content {
        color: var(--color-dark-1);
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--size-spacing-4);
        padding: var(--size-spacing-3) 0;
      }

      .gloss {
        background: radial-gradient(var(--color-main-2) 0%, var(--color-main-3) 70%);
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
  </body>
</html>
